importFrom("utils", "tail")

import(ggplot2)

import(ggcorrplot)
import(lme4)
import(MuMIn)
import(dplyr)
import(prettyR)
import(png)
import(tm)
import(wordcloud2)

importFrom(stats, "rnorm", "runif", "coef", "p.adjust", "pnorm", "terms", "ecdf")
importFrom(Hmisc, "rcorr")


exportPattern("^[[:alpha:]]+")

