importFrom("utils", "tail")

import(ggplot2)
import(lme4)
import(dplyr)
import(tm)
import(Hmisc)

importFrom(ggcorrplot, "ggcorrplot")
importFrom(MuMIn, "r.squaredGLMM")
importFrom(prettyR, "describe")
importFrom(stats, "rnorm", "runif", "coef", "p.adjust", "pnorm", "terms", "ecdf")
importFrom(Hmisc, "rcorr")
importFrom(wordcloud2, "wordcloud2")
importFrom(png, "writePNG")
importFrom(BayesFactor, "extractBF")

exportPattern("^[[:alpha:]]+")

